html {
  font-size: 0.625rem;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: $font-main;
  font-weight: 400;
  margin: 0px;
  color: $text-main-color;
  background-color: $main-bg;
}
input {
  font-family: $font-main;
  box-sizing: border-box;
  border-width: 0;
  @media #{$max-mobile-width} {
    border-radius: 3px;
  }
  @media #{$min-tablet-width} {
    border-radius: 3px;
  }
  @media #{$min-desktop-width} {
    border-radius: 4px;
  }
}
input[type="submit"] {
  cursor: pointer;
  @include gradient-btn;
}
input[type="submit"]:active {
  @include gradient-btn--reverse;
}
input[type="tel"],
input[type="text"] {
  @media #{$max-mobile-width} {
    padding-left: 4px;
    padding-right: 4px;
  }
  @media #{$min-tablet-width} {
    padding-left: 4px;
    padding-right: 4px;
  }
  @media #{$min-desktop-width} {
    padding-left: 10px;
    padding-right: 10px;
  }
}
input:focus {
  outline-width: 0;
  border-width: 0;
}
button {
  font-family: $font-main;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
}
button:focus {
  outline-width: 0;
  border-width: 0;
}
.disable {
  display: none;
}