$max-mobile-width: "(max-width: 767px)";
$max-mobile-wrapper: 500px;

$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 1361px)";
$max-tablet-wrapper: 991px;

$min-desktop-width: "(min-width: 1362px)";
$max-desktop-wrapper: 1400px;

$page-header-bg: #e9e9e9;

$text-main-color: #333333;
$text-alt-color: #ffffff;
$main-bg: #ffffff;

$links-color: #0080c9;

$font-main: "myriad", "Arial", sans-serif;

$mobile-car-bg: #f5f8fa;

$button-border-color: #feb400;

$toggle-color: #f5f5f5;
$toggle-border: #e9e9e9;

$active-device: #feb700;
$rubl-color: #888888;
$device-border: #e1e1e1;

$credit-border: #c2c2c2;

$utp-special: #fdbc01;

$video-bg: #f6f6f6;

$wait-bg: #f6f6f6;

$footer-bg: #f8f8f8;