$max-mobile-width: "(max-width: 767px)";
$max-mobile-wrapper: 500px;

$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 1361px)";
$max-tablet-wrapper: 991px;

$min-desktop-width: "(min-width: 1362px)";
$max-desktop-wrapper: 1400px;


$text-main-color: #333333;
$text-alt-color: #ffffff;
$main-bg: #ffffff;

$links-color: #0080c9;

$font-main: "myriad", "Arial", sans-serif;

$button-border-color: rgba(255, 255, 255, 0.25);
$button-border-color-hover: rgba(255, 255, 255, 0.4);