.main-nav {
  background-color: blue;
  box-sizing: border-box;
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  background-color: oldlace;
  display: flex;
  padding-left: 0;
  box-sizing: border-box;
  font-weight: 600;
  justify-content: space-between;
  @media #{$min-tablet-width} {
    max-width: 520px;
    font-size: 1.3rem;
  }
  @media #{$min-desktop-width} {
    max-width: 800px;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.main-nav__item-link {
  color: $text-main-color;
  background-color: red;
}